* {
    margin: 0;
    padding: 0;
}

:root {
    --branco-quase: #eed7b6;
    --preto: #0A0A0A;
    --roxo: #592b92;
    --azul: #00BBF9;
    --dourado: #FFD700;
    --rosa: #F15BB5;
    --cinzaa: #1E1E1E;
}

.nav-top {
    background-color: var(--cinzaa);
}

.nav-link{
    color: var(--roxo) !important;
    font-weight: bold !important;
    background-color: var(--cinzaa) !important;
    border-radius: 6px !important;
    text-align: center;
}

.nav-item{
    margin: 0.5rem !important;
}

.btn-buscar{
    color: var(--cinzaa) !important;
    background-color: var(--rosa) !important;
}

.car-img{
max-height: 50em !important;

}

.divisao{
    background-color: var(--roxo) !important;
    text-align: center !important;
    color: var(--branco-quase) !important;
    
    padding: 1em !important;
}

.carousel-caption{
    width: auto;
    background-color: #032c668c !important;
    color: var(--branco-quase) !important;
    border-radius: 1em !important;
}
/* Pacotes */
.sec-pacotes {
    padding: 2em;
    background-color: #1E1E1E;
    margin-left: 10% !important;
    margin-right: 10% !important;
    justify-content: center !important;
    margin: 0.625em !important;
}

.card {
    padding: 1% !important;
    margin: 0% 1% 1% !important;
    display: flex !important;
    flex-direction: column !important;
}

.card-body {
    flex: 1 !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-between !important;
}

.card .btn {
    background-color: var(--rosa);
    width: auto !important;
    /* deixa o botão do tamanho do texto */
    align-self: flex-start !important;
    /* alinha à esquerda (ou use center se quiser centralizado) */
}

.sec-pacotes img {
    width: 20;
    height: 200px;
    object-fit: cover;
}


/* Cotatos */
.titulo {
    background-color: var(--color3) !important;
    color: var(--rosa) !important;
    padding: 3% !important;
}


.sec-contatos {
    padding: 3em !important;
    margin-bottom: 10% !important;
    margin-left: 1% !important;
    margin-right: 1% !important;
    height: 30em !important;
}


/* Mapa e icons */
.div-mapa {
    text-align: center !important;
    align-items: center !important;
    background-color: var(--color7);
    border-radius: 1em !important;
}

.formulario {
    margin-right: 10% !important;
    width: 40% !important;
    background-color: var(--color7);
    border-radius: 1em !important;
}

.mapa iframe {
    /* display: flex !important; */
    border-radius: 1em !important;
    justify-content: center !important;
    /* margin-left: 17% !important; */
}

.iconredes {
    display: flex !important;
    justify-content: center !important;
    gap: 3em !important;
    margin-bottom: 1em !important;
}


/* footer */
footer {
    background-color: var(--color3) !important;
    color: var(--color6) !important;
    padding: 0.5em !important;
    margin: 0 !important;
}